
<div class="workspace-section-container">
    <div class="workspace-section-header">
        <div class="section-header-title-div" (click)="toggleDropdown()">
            @if(showSubmenu){
                <img src="./../../../../assets/img/arrow_drop_down.png" class="drop-down-icon">
            } @else {
                <img src="./../../../../assets/img/arrow_drop_down1.png" class="drop-down-icon">
            }
            <img src="./../../../../assets/img/workspaces.png" class="section-logo-icon">
            <span class="section-title">Channels</span>
        </div>
        <div class="icon-container" (click)="displayAddChannelDialog()">
            <img src="./../../../../assets/img/add.png" class="add-icon">
        </div>
    </div>

    @if(showSubmenu){
        <div class="workspace-section-submenu" @submenuAnimation>
            @for (channel of allUserChannels; track $index) {
                <div class="channel-title-div">
                    <div class="channel-title-container" [class.active]="activeIndex === $index" (click)="activateChannel($index)">
                        <img [src]="activeIndex === $index ? './../../../../assets/img/tag.png' : './../../../../assets/img/tag2.png'"    >
                        <span class="channel-title">{{channel.name}}</span>
                    </div>
                </div>
            }
    
            <div class="add-channel-div" (click)="displayAddChannelDialog()">
                <img src="./../../../../assets/img/add_circle.png">
                <span class="add-channel-span">Channel hinzufügen</span>
            </div>
        </div>
    }
    
</div>

