
<div class="workspace-section-container">
    <div class="workspace-section-header">
        <div class="section-header-title-div" (click)="toggleDropdown()">
            @if(showSubmenu){
                <img src="./../../../../assets/img/arrow_drop_down.png" class="drop-down-icon">
            } @else {
                <img src="./../../../../assets/img/arrow_drop_down1.png" class="drop-down-icon">
            }
            <img src="./../../../../assets/img/workspaces.png" class="section-logo-icon">
            <span class="section-title">Channels</span>
        </div>
        <div class="icon-container">
            <img src="./../../../../assets/img/add.png" class="add-icon">
        </div>
    </div>

    @if(showSubmenu){
        <div class="workspace-section-submenu" @submenuAnimation>
            <div class="channel-title-div">
                <div class="channel-title-container">
                    <img src="./../../../../assets/img/tag.png">
                    <span class="channel-title">Entwicklerteam</span>
                </div>
            </div>
    
            <div class="add-channel-div">
                <img src="./../../../../assets/img/add_circle.png">
                <span class="add-channel-span">Channel hinzufügen</span>
            </div>
        </div>
    }
    

</div>
