<div class="dialog-bg" (click)="closeDialog()">
       
    <div class="dialog" (click)="stopPropagation($event)" [style.top]="addMembersDialogPosition.top" [style.left]="addMembersDialogPosition.left">
       <div class="dialog-header">
            <span class="dialog-title">Leute hinzufügen</span>
            <div class="icon-container" (click)="closeDialog()">
                <img src="./../../../assets/img/close.png">
            </div>
        </div>

        <div class="dialog-content">
            <div class="channel-name-div">
                <img src="./../../../../../assets/img/tag_purple.png">
                <span class="channel-name">{{channelData.name}}</span>
            </div>

            <div class="input-div add-members-input-div">
                @if(selectedUsers && selectedUsers.length > 0) {
                    <div class="chip-container">
                        @for (user of selectedUsers; track $index) {
                            <div class="chip-div">
                                <img src="{{user.avatar}}" class="avatar-img">
                                <span class="name-span">{{user.firstName + ' ' + user.lastName}}</span>
                                <img src="./../../../assets/img/close.png" class="cancel-user-adding-icon" (click)="cancelUserAdding(user.id)">
                            </div>
                        }
                    </div>
                }


                <input type="text" id="names-input" placeholder="Namen eingeben" (input)="searchUsers($event)" [(ngModel)]="userSearchQuery" autocomplete="off">
               
                @if(displaySearchResultContainer){
                    <div class="search-result-container" [ngStyle]="{ top: selectedUsers!.length >= 2 ? '130px' : '64px' }">
                        @for (user of foundUsers; track $index) {
                            <div class="member-div" (click)="addFoundUserToChannel(user.id)">
                                <img src="{{user.avatar}}" class="avatar-img">
                                <span class="name-span">{{user.firstName + ' ' + user.lastName}}</span>
                            </div>
                        }
                    </div>
                }
            
            </div> 

            <div class="button-div">
                <button [disabled]="selectedUsers?.length === 0" (click)="addMember()">Hinzufügen</button>
            </div>
        </div>

    </div>
</div>