
<div class="dialog-bg" (click)="closeDialog()">
       
     <div class="dialog" (click)="stopPropagation($event)"
        [style.top]="position.top" [style.left]="position.left">
         <div class="dialog-header">
            <div class="channel-title-div">
                <img src="./../../../../assets/img/tag_large.png">
                <span class="dialog-title">{{channelData.name}} </span>
            </div>
             
             <div class="icon-container" (click)="closeDialog()">
                 <img src="./../../../assets/img/close.png">
             </div>
         </div>
 
         <div class="dialog-content">
             <div class="input-div" [ngClass]="{ 'active-input-div': editingChannelName }">
                <div class="input-div-header">
                    <span class="input-label">Channel-Name</span> 
                    <button class="edit-btn" (click)="editChannelName()" [ngClass]="{ 'active-btn': editingChannelName }">@if(editingChannelName){Speichern} @else {Bearbeiten}</button>
                </div>
                 <input type="text" id="channel-name"  [(ngModel)]="channelData.name"
                    [disabled]="!editingChannelName" [ngClass]="editingChannelName ? 'active-input' : 'inactive-input'">
                 <img src="./../../../assets/img/tag2.png" class="placeholder-image">
             </div>
             <div class="input-div" [ngClass]="{ 'active-input-div': editingChannelDescription }">
                <div class="input-div-header">
                    <span class="input-label">Beschreibung</span> 
                    <button class="edit-btn" (click)="editChannelDescription()" [ngClass]="{ 'active-btn': editingChannelDescription }">@if(editingChannelDescription){Speichern} @else {Bearbeiten}</button>
                </div>
                 <input type="text" id="channel-description" [(ngModel)]="channelData.description"
                   [disabled]="!editingChannelDescription" [ngClass]="editingChannelDescription ? 'active-input' : 'inactive-input'">

                 <div class="seperator"></div>

                 <div class="creator-div">
                    <span class="input-label">Erstellt von</span>
                    <span class="creator-span">Noah Braun</span>
                 </div>
                 

             </div>    
         </div>

         <div class="dialog-footer">
             <button (click)="editChannel(); stopPropagation($event)">Channel verlassen</button>
         </div>
     </div>
    
                

</div>
    
     



 
