@import "mixins", "styles";

.dialog-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include display-flex();
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.dialog{
    position: absolute;
    z-index: 500;
    top: 190px;
    left: 420px;
    width: 872px;
    background-color: white;
    border-radius: 30px;
    border-top-left-radius: unset;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    @include display-flex($fd: column, $jc: flex-start);
    padding: 40px;
}


.dialog-header{
    @include display-flex($jc: space-between);
    width: 100%;
}

.channel-title-div{
    @include display-flex();
}

.dialog-title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}

.dialog-description{
    display: block;
    font-size: 18px;
    margin-top: 24px;
}

.dialog-content{
    width: 100%;
}

.input-div{
    @include display-flex($fd: column, $ai: flex-start);
    margin-top: 24px;
    width: 100%;
    position: relative;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    transition: all 200ms ease;

    >label{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    >input{
        width: 95%;
        height: 60px;
        padding: 18px 20px 18px 50px;
        font-size: 18px;
        color: black ;
        transition: all 200ms ease;
       

        &:focus {
            border-radius: 30px;
            border-color: $highlight-color-purple; 
            outline: none; 
        }
    }
}

input.error::placeholder {
    color: rgba(255, 0, 0, 0.8); 
  }

.input-div.active-input-div{
    border: unset;
    padding: unset;
    padding-bottom: 20px;

    >input{
        margin-left: 20px;
    }
    

    >.input-div-header{
        margin-bottom: 20px;
    }

    >.seperator{
        margin-left: 20px;
        width: 95%;
    }

    >.creator-div{
        margin-left: 20px;
    }
}

.creator-div{
    transition: all 200ms ease;
}

.active-input{
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 40px;
}

.inactive-input{
    border: none;
    cursor: default;
    background-color: transparent;
}

.edit-btn{
    border: unset;
    background-color: transparent;
    color: $highlight-color-purple;
    font-size: 18px;
    font-weight: 600;
    transition: all 200ms ease;

    &:hover{
        cursor: pointer;
        font-weight: 700;
    }
}

.input-div-header{
    width: 100%;
    @include display-flex($jc:space-between);
    transition: all 200ms ease;
}

.input-label{
    font-size: 18px;
    font-weight: 700;
}


.dialog-footer{
    margin-top: 32px;
    width: 100%;
    @include display-flex($jc: flex-end);

    >button{
        height: 49px;
        width: 204px;
        color: white;
        background-color: $bg-color-blue;
        font-size: 18px;
        font-weight: 700;
        @include display-flex();
        border-radius: 25px;
        border: unset;
        transition: 125ms all ease;

        &:hover{
            cursor: pointer;
            background-color: $secondary-color-purple;
        }
    }
} 

.placeholder-image{
    position: absolute;
    bottom: 38px;
    left: 40px;
}

.seperator{
    width: 100%;
    border: 1px solid rgba(173, 176, 217, 1);
    margin-top: 24px;
    margin-bottom: 32px;
    transition: all 200ms ease;
}

.creator-span{
    color: $highlight-color-purple;
    font-size: 24px;
    display: block;
    margin-top: 16px;
}