
<div class="dialog-bg" (click)="closeDialog()">
       
     <div class="dialog" (click)="stopPropagation($event)"
        [style.top]="position.top" [style.left]="position.left">
         <div class="dialog-header">
            <div class="channel-title-div">
                <img src="./../../../../assets/img/tag_large.png">
                <span class="dialog-title">{{channelData.name}} </span>
            </div>
             
             <div class="icon-container" (click)="closeDialog()">
                 <img src="./../../../assets/img/close.png">
             </div>
         </div>
 
         <div class="dialog-content">
            <form #editChannelForm="ngForm" (ngSubmit)="saveChanges(editChannelForm)">
                <div class="input-div" [ngClass]="{ 'active-input-div': editingChannelName }">
                  <div class="input-div-header">
                    <span class="input-label">Channel-Name</span>
                    <button 
                        class="edit-btn" 
                        (click)="onEditButtonClick($event, 'name')"
                        [ngClass]="{ 'active-btn': editingChannelName }" 
                        [type]="editingChannelName ? 'submit' : 'button'" >
                        {{ editingChannelName ? 'Speichern' : 'Bearbeiten' }}
                    </button>
                  </div>
                  
                  <input 
                    type="text" 
                    id="channel-name" 
                    name="channelName"
                    [(ngModel)]="channelData.name" 
                    #channelName="ngModel"
                    spellcheck="false" 
                    [placeholder]="channelName.invalid && (channelName.touched || editChannelForm.submitted) ? getErrorMessage(channelName.errors) : 'z.B. Kooperationsprojekte'"
                    
                    [class.error]="channelName?.invalid && (channelName?.touched || editChannelForm.submitted)"
                    [disabled]="!editingChannelName"
                    [ngClass]="editingChannelName ? 'active-input' : 'inactive-input'"
                    required 
                    minlength="4">
                  <img src="./../../../assets/img/tag2.png" class="placeholder-image">
                </div>
            
              
                <div class="input-div" [ngClass]="{ 'active-input-div': editingChannelDescription }">
                  <div class="input-div-header">
                    <span class="input-label">Beschreibung</span>
                    <button 
                        class="edit-btn" 
                        (click)="editChannelDescription(editChannelForm)" 
                        [ngClass]="{ 'active-btn': editingChannelDescription }" 
                        [type]="editingChannelDescription ? 'submit' : 'button'">
                        {{ editingChannelDescription ? 'Speichern' : 'Bearbeiten' }}
                    </button>
                  </div>
                  <input 
                    type="text" 
                    id="channel-description" 
                    name="channelDescription"
                    [(ngModel)]="channelData.description" 
                    spellcheck="false" 
                    [disabled]="!editingChannelDescription"
                    [ngClass]="editingChannelDescription ? 'active-input' : 'inactive-input'" 
                    placeholder="Dein Text hier">
                
                    <div class="seperator"></div>

                    <div class="creator-div">
                       <span class="input-label">Erstellt von</span>
                       <span class="creator-span">Noah Braun</span>
                    </div>
                
                </div>
            
                 

            </form>

                
         </div>

         <div class="dialog-footer">
             <button (click)="leaveChannel(); stopPropagation($event)">Channel verlassen</button>
         </div>
     </div>
    
</div>
    
     



 
