@import "mixins", "styles";

.login {
  @include display-flex();
}

.intro {
  @include display-flex();
  @include position(fixed, 0, 0, $zi: 3);
  @include size(100vw, 100dvh);
  background: linear-gradient($secondary-color-purple, $bg-color-blue);
  transition: all 500ms ease-out;
  animation: fade-out 500ms ease-out 2500ms forwards;
}

.intro-content {
  @include display-flex($gap: 32px);
  @include size($height: 100%);
  overflow: hidden;
  transform: translateX(200px);
  animation: logo-slide-left 300ms ease-out 500ms forwards,
    logo-slide-top-left 500ms ease-out 2000ms forwards;
}

.logo-container {
  @include display-flex();
  @include size($height: 100%);
  min-width: 75px;
  min-height: 75px;
  background: linear-gradient($secondary-color-purple, $bg-color-blue);
  z-index: 3;
  animation: hide-background 500ms ease-out 2000ms forwards;
}

.intro-span {
  @include font-style($font-size-72, $font-weight-700, $primary-color-white);
  transform: translateX(-400px);
  animation: slide-in-right 500ms ease-out 800ms forwards,
    adjust-span-size 500ms ease-out 2000ms forwards;
}

.logo {
  @include size($height: 200px);
  animation: adjust-logo-size 500ms ease-out 2000ms forwards;
}

.content {
  @include display-flex($jc: space-between, $fd: column);
  height: 100%;
}

.divider {
  @include display-flex($gap: 16px);
  @include size(100%);
  > .divider-line {
    flex-grow: 1;

    height: 1px;
    background: $border-color-purple;
  }
  > .divider-text {
    @include font-style($font-size-18, $font-weight-400, $text-color-black);
    white-space: nowrap;
  }
}

.google-login {
  @include display-flex($gap: 16px);
  @include font-style($font-size-18, $font-weight-400, $primary-color-purple);
  padding: 15px 20px;
  > img {
    @include size(28px, 28px);
  }
}

