<div class="dialog-bg" (click)="closeDialog()">
       
    <div class="dialog" (click)="stopPropagation($event)" [style.top]="showMembersDialogPosition.top" [style.left]="showMembersDialogPosition.left">
 
        <div class="dialog-header">
            <span class="dialog-title">Mitglieder</span>
            <div class="icon-container" (click)="closeDialog()">
                <img src="./../../../assets/img/close.png">
            </div>
        </div>
    
     <div class="dialog-content">
         <div class="member-div">
             <img src="./../../../../../assets/img/Avatar 1.png">
             <span class="name-span">Frederick Beck (Du)</span>
         </div>
         <div class="member-div">
             <img src="./../../../../../assets/img/Avatar.png">
             <span class="name-span">Sofia Müller</span>
         </div>
         <div class="member-div">
             <img src="./../../../../../assets/img/Avatar 3.png">
             <span class="name-span">Noah Braun</span>
         </div>
    
     </div>
    
     <div class="dialog-footer">
         <div class="add-member-div" (click)="openAddMemberDialog()">
             <div class="icon-div">
                 <img src="./../../../../../assets/img/person_add.png">
             </div>
             <span class="name-span">Mitglieder hinzufügen</span>
         </div>
     </div>
        
    </div>
    
</div>



