<div class="dialog-bg" (click)="closeDialog()">
       
    <div class="dialog" (click)="stopPropagation($event)" [style.top]="showMembersDialogPosition.top" [style.left]="showMembersDialogPosition.left">
 
        <div class="dialog-header">
            <span class="dialog-title">Mitglieder</span>
            <div class="icon-container" (click)="closeDialog()">
                <img src="./../../../assets/img/close.png">
            </div>
        </div>
    
     <div class="dialog-content">
        @for (user of channelUsers; track $index) {
            <div class="member-div">
                <img src="{{user.avatar}}" class="avatar-img-small">
                <span class="name-span">{{user.firstName + ' ' + user.lastName}}</span>
            </div>
        }
       
         
    
     </div>
    
     <div class="dialog-footer">
         <div class="add-member-div" (click)="openAddMemberDialog()">
             <div class="icon-div">
                 <img src="./../../../../../assets/img/person_add.png">
             </div>
             <span class="name-span">Mitglieder hinzufügen</span>
         </div>
     </div>
        
    </div>
    
</div>



