@import "mixins", "styles";


:host{
    position: absolute;
    top: 20px;
}

.dialog-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include display-flex();
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.dialog{
    position: absolute;
    z-index: 500;
    width: 415px;
    background-color: white;
    border-radius: 30px;
    border-top-right-radius: unset;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    @include display-flex($fd: column, $jc: flex-start);
    padding: 40px;
}

.dialog-header{
    @include display-flex($jc: space-between);
    width: 100%;
}

.dialog-title{
    font-size: 24px;
    font-weight: 700;
}

.dialog-content{
    width: 100%;
    @include display-flex($fd: column, $ai: flex-start);
    gap: 8px;
    margin-top: 8px;
}

.member-div{
    @include display-flex($jc: flex-start);
    padding: 8px 16px;
    border-radius: 30px;
    transition: all 125ms ease;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
    }
}

.name-span{
    font-size: 18px;
    margin-left: 12px;
}

.dialog-footer{
    width: 100%;
    @include display-flex($jc: flex-start);
}

.add-member-div{
    margin-top: 8px;
    @include display-flex($jc: flex-start);
    padding: 8px 16px;
    border-radius: 30px;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
        color: $highlight-color-purple;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(2454%) hue-rotate(231deg) brightness(93%) contrast(104%);
        scale: 1.05;
    }
}

.icon-div{
    background-color: $bg-color-gray;
    border-radius: 50%;
    @include display-flex();
    height: 32px;
    width: 32px;
}


.avatar-img-small{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}