<form
  class="auth-form"
  id="registration-form"
  (ngSubmit)="saveUserData()"
  #registrationForm="ngForm"
>
  <header class="form-header">
    <h3>Konto erstellen</h3>
    <span
      >Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.</span
    >
  </header>

  <main class="auth-inputs">
    <div class="auth-input-container">
      <input
        class="auth-input"
        type="text"
        placeholder="Name und Nachname"
        [(ngModel)]="fullName"
        name="fullName"
        #fullNameInput="ngModel"
        required
        pattern="[a-zA-ZÀ-ž\s\-]+"
      />
      <img
        class="auth-input-icon"
        src="./../../assets/img/user_icon.png"
        alt="user_icon"
      />
      <span
        class="invalid-input"
        [class.is-invalid]="fullNameInput.invalid && fullNameInput.touched && fullNameInput.value != ''"
      >
        Dieser Name ist leider ungültig.
      </span>
    </div>

    <div class="auth-input-container">
      <input
        class="auth-input"
        type="email"
        placeholder="beispielname@email.com"
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
        required
        email
      />
      <img
        class="auth-input-icon"
        src="./../../assets/img/mail_icon.png"
        alt="password_icon"
      />
      <span
        class="invalid-input"
        [class.is-invalid]="emailInput.invalid && emailInput.touched && emailInput.value != ''"
      >
        Diese E-Mail-Adresse ist leider ungültig.
      </span>
    </div>

    <div class="auth-input-container">
      <input
        class="auth-input"
        type="password"
        placeholder="Passwort"
        [(ngModel)]="password"
        name="password"
        #passwordInput="ngModel"
        required
        minlength="8"
        [attr.type]="isPasswordVisible ? 'text' : 'password'"
      />
      <div class="auth-input-icon-container" (click)="togglePasswordInputType()">
        <img
          class="auth-input-icon-hover"
          src="./../../assets/img/password_icon.png"
          alt="password_icon"
        />
      </div>
      <span
        class="invalid-input"
        [class.is-invalid]="passwordInput.touched && passwordInput.invalid && password && password.length < 8">
        Das Passwort muss mindestens 8 Zeichen lang sein.
      </span>
    </div>

    <section class="auth-checkbox-container">
      <div class="auth-checkbox-wrapper">
        <label for="auth-checkbox" class="auth-checkbox-label">
          <input
            id="auth-checkbox"
            type="checkbox"
            name="privacyPolicy"
            required
            [(ngModel)]="isCheckboxChecked"
          />
          <span></span>
        </label>
        <div class="auth-checkbox-info-container">
          <span class="auth-checkbox-info">
            Ich stimme der <a>Datenschutzerklärung</a> zu.
          </span>
        </div>
      </div>
      <span
        *ngIf="showPrivacyPolicyError && !isCheckboxChecked"
        class="auth-checkbox-error"
        >*Bitte aktzeptieren Sie die Datenschutzbestimmungen.</span
      >
    </section>
  </main>

  <section class="auth-buttons align-items-flex-end">
    <div class="auth-button-container">
      <button
        [disabled]="!registrationForm.valid || !isCheckboxChecked || passwordInput.value.length < 8"
        name="checkbox"
        type="submit"
        class="primary-button"
      >
        Weiter
      </button>
    </div>
  </section>
</form>
