@import "mixins", "styles";

.dialog-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include display-flex();
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.dialog{
    height: 539px;
    width: 872px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    @include display-flex($fd: column, $jc: flex-start);
    padding: 40px;
}

.secondary-dialog{
    // height: 279px;
    width: 710px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    @include display-flex($fd: column, $jc: flex-start);
    padding: 40px;
}

.dialog-header{
    @include display-flex($jc: space-between);
    width: 100%;
}

.dialog-title{
    font-size: 24px;
    font-weight: 700;
}

.dialog-description{
    display: block;
    font-size: 18px;
    margin-top: 24px;
}

.input-div{
    @include display-flex($fd: column, $ai: flex-start);
    margin-top: 24px;
    width: 100%;
    position: relative;

    >label{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    >input{
        width: 100%;
        height: 60px;
        border: 1px solid rgba(173, 176, 217, 1);
        border-radius: 40px;
        padding: 18px 20px 18px 50px;
        font-size: 18px;

        &:focus {
            border-color: $highlight-color-purple; 
            outline: none; 
        }

    }
}

input.error::placeholder {
    color: rgba(255, 0, 0, 0.8); 
  }

#names-input{
    height: 55px !important;
    padding: 15px 20px 15px 20px !important;
    width: unset;
    flex: 1;
}

.placeholder-image{
    position: absolute;
    bottom: 18px;
    left: 20px;
}

.dialog-footer{
    margin-top: 32px;
    width: 100%;
    @include display-flex($jc: flex-end);

    >button{
        height: 49px;
        width: 125px;
        color: white;
        background-color: $bg-color-blue;
        font-size: 18px;
        font-weight: 700;
        @include display-flex();
        border-radius: 25px;
        border: unset;
        transition: 125ms all ease;

        &:hover{
            cursor: pointer;
            background-color: $secondary-color-purple;
        }
    }
} 

.secondary-dialog-content{
    width: 100%;
    @include display-flex( $ai: flex-start, $fd: column);
}

.radio-container {
    margin-top: 24px;
    @include display-flex($fd: column, $ai: flex-start);
    width: 80%;
    gap: 20px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .radio-label input {
    display: none;
  }
  
  .custom-radio {
    width: 16px;
    height: 16px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    position: relative;
  }
  
  .custom-radio::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: $primary-color-purple;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 125ms ease;
  }
  
  .radio-label input:checked + .custom-radio::after {
    opacity: 1;
  }

 .radio-span{
    font-size: 18px;
    margin-left: 8px;
 }

 .channel-name-span{
    color: $highlight-color-purple;
 }


 .add-members-input-div{
    position: relative;
    width: 100%;
    @include display-flex($jc: flex-start);
    border-radius: 40px;
    border: 1px solid rgba(173, 176, 217, 1);
    max-width: 550px;
    flex-wrap: wrap;
   
 }


 #names-input{
    background-color: transparent !important;
    border: none;
    width: unset;
    flex: 1;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 4px;

    &:focus, &:active{
        background-color: transparent !important;
        border: none;
        outline: none;
    }
 }


 .search-result-container{
    position: absolute;
    left: 24px;
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 24px;
    gap: 16px;
    background-color: white;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
 }


 .member-div{
    @include display-flex($jc: flex-start);
    padding: 8px 16px;
    border-radius: 30px;
    transition: all 125ms ease;
    margin-bottom: 8px;

    &:hover{
        cursor: pointer;
        background-color: $bg-color-gray;
    }
}

.name-span{
    font-size: 18px;
    margin-left: 12px;
}

.avatar-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.chip-container{
    @include display-flex();
}

.chip-div{
    @include display-flex();
    padding-left: 16px;
    padding-right: 16px;
    background-color: $bg-color-gray;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 48px;
    border-radius: 30px;
}



.cancel-user-adding-icon{
    height: 16px;
    width: 16px;
    transition: all 125ms ease;
    margin-left: 8px;

    &:hover{
        cursor: pointer;
        scale: 1.1;
    }
}