
    <div class="dialog-bg" (click)="closeDialog()">
       
       @if(mainDialogOpened){
        <div class="dialog" (click)="stopPropagation($event)">
            <div class="dialog-header">
                <span class="dialog-title">Channel erstellen</span>
                <div class="icon-container" (click)="closeDialog()">
                    <img src="./../../../assets/img/close.png">
                </div>
            </div>
    
            <div class="dialog-content">
                <span class="dialog-description">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein 
                    #marketing zum Beispiel.
                </span>
                <form (ngSubmit)="displayAddPeopleDialog(addChannelForm)" #addChannelForm="ngForm">
                    <div class="input-div">
                        <label for="channel-name">Channel-Name</label>
                        <input type="text" name="channelName" id="channel-name" #channelName="ngModel" spellcheck="false"
                        [placeholder]="channelName.invalid && (channelName.touched || addChannelForm.submitted) ? getErrorMessage(channelName.errors) : 'z.B. Kooperationsprojekte'" 
                        [class.error]="channelName?.invalid && (channelName?.touched || addChannelForm.submitted)"
                        [(ngModel)]="channel.name" required minlength="4">
                        <img src="./../../../assets/img/tag2.png" class="placeholder-image">
                    </div>
                    <div class="input-div">
                        <label for="channel-name">Beschreibung</label>
                        <input type="text" name="channelDescription" id="channel-name" placeholder="Dein Text hier" [(ngModel)]="channel.description" spellcheck="false">
                    </div>    
                
    
                    <div class="dialog-footer">
                        <button (click)="stopPropagation($event)" type="submit">Erstellen</button>
                    </div>
                </form>
            </div>
             
        </div>
       } @else if(addPeopleDialogOpened){
        <div class="secondary-dialog" (click)="stopPropagation($event)">
            <div class="dialog-header">
                <span class="dialog-title">Leute hinzufügen</span>
                <div class="icon-container" (click)="closeDialog()">
                    <img src="./../../../assets/img/close.png">
                </div>
            </div>

            <div class="secondary-dialog-content">
                <div class="radio-container">
                    <label class="radio-label">
                      <input type="radio" name="options" value="option1" checked [(ngModel)]="selectedOption">
                      <span class="custom-radio"></span>
                      <span class="radio-span">Alle Mitglieder von <span class="channel-name-span">#{{activeChannelData?.name}} </span>hinzufügen</span>
                    </label>
                    <label class="radio-label">
                      <input type="radio" name="options" value="option2" [(ngModel)]="selectedOption">
                      <span class="custom-radio"></span>
                      <span class="radio-span">Bestimmte Leute hinzufügen</span>
                    </label>
                </div>

                @if(selectedOption === 'option2'){
                    <div class="input-div add-members-input-div">
                        @if(selectedUsers && selectedUsers.length > 0) {
                            <div class="chip-container">
                                @for (user of selectedUsers; track $index) {
                                    <div class="chip-div">
                                        <img src="{{user.avatar}}" class="avatar-img">
                                        <span class="name-span">{{user.firstName + ' ' + user.lastName}}</span>
                                        <img src="./../../../assets/img/close.png" class="cancel-user-adding-icon" (click)="cancelUserAdding(user.id)">
                                    </div>
                                }
                            </div>
                        }


                        <input type="text" id="names-input" placeholder="Namen eingeben" (input)="searchUsers($event)" [(ngModel)]="userSearchQuery" autocomplete="off">
                       
                        @if(displaySearchResultContainer){
                            <div class="search-result-container" [ngStyle]="{ top: selectedUsers!.length >= 2 ? '130px' : '64px' }">
                                @for (user of foundUsers; track $index) {
                                    <div class="member-div" (click)="addFoundUserToChannel(user.id)">
                                        <img src="{{user.avatar}}" class="avatar-img">
                                        <span class="name-span">{{user.firstName + ' ' + user.lastName}}</span>
                                    </div>
                                }
                            </div>
                        }
                    
                    </div> 
                }
                   
            </div>

            <div class="dialog-footer">
                <button (click)="createNewChannel()">Erstellen</button>
            </div>

        </div>
       }
        



    </div>

