@import "mixins", "styles";

:host {
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

.workspace-content {
    display: flex;
    flex-direction: column; 
    gap: 16px; 
    width: 100%; 
    flex: 1; 
}

.workspace-container{
    background-color: white;
    width: 366px;
    flex: 1;
    border-radius: 30px;
    @include display-flex($fd: column, $jc: flex-start);
    padding: 32px 30px;
    
}

.workspace-header{
    width: 100%;
    @include display-flex($jc:flex-start);
    margin-bottom: 24px;
}

.workspace-logo{
    height: 60px;
    width: 60px;
    margin-right: 24px;
}

.workspace-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    flex: 1;
}

.workspace-section-container{
    @include display-flex($fd:column);
    width: 100%;
    
}

.workspace-section-header{
    @include display-flex($jc: space-between);
    width: 100%;
    height: 46px;
}

.section-header-title-div {
    @include display-flex();
    

    &:hover{
        cursor: pointer;
    }

    &:hover .section-title{
        color: $highlight-color-purple;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(30%) sepia(81%) saturate(1548%) hue-rotate(222deg) brightness(96%) contrast(98%);
    }

}

.drop-down-icon{
   margin-right: 16px;
}

.section-logo-icon{
    margin-right: 8px;

}

.section-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    flex: 1;

}

.workspace-section-submenu{
    width: 100%;
    margin-top: 16px;
}

.workspace-navigation-bar{
    position: fixed;
    left: 0;
    bottom: -20px;
    background-color: white;
    height: 60px;
    width: 347px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @include display-flex();
    font-weight: 500;
    font-size: 20px;
    box-shadow: -4px 4px 7px 0px rgba(0, 0, 0, 0.2);

    transform: rotate(-90deg); 
    transform-origin: top left;

    &:hover{
        cursor: pointer;
        color: $primary-color-purple;
        font-weight: 600;
    }

    &:hover img{
        filter: brightness(0) saturate(100%) invert(24%) sepia(92%) saturate(2852%) hue-rotate(233deg) brightness(96%) contrast(98%);
    }
}

