
    <div class="workspace-container" [@slideInOut]="workspaceMenuOpened ? 'opened' : 'closed'" >
        <div class="workspace-header">
                 <img src="./../../../assets/img/Workspace logo.png" class="workspace-logo">
                 <span class="workspace-title">Devspace</span>
                 <div class="icon-container">
                    <img src="./../../../assets/img/edit_square.png" class="edit-img">
                 </div>
                 
        </div>
            
        <div class="workspace-content">
            <app-workspace-channels (dialogStateChange)="handleDialogStateChange($event)"></app-workspace-channels>
            <app-workspace-direct-messages></app-workspace-direct-messages>
        </div>
    </div>



<div class="workspace-navigation-bar" (click)="toggleWorkspaceMenu()">
    <span>Workspace-Menü schließen</span>
    @if(workspaceMenuOpened){
        <img src="./../../../assets/img/Show menu1.png" class="workspace-opened-img">
    } @else {
        <img src="./../../../assets/img/Show menu2.png" class="workspace-opened-img">
    }
</div>
