<div class="workspace-container">
    <div class="workspace-header">
         <img src="./../../../assets/img/Workspace logo.png" class="workspace-logo">
         <span class="workspace-title">Devspace</span>
         <div class="icon-container">
            <img src="./../../../assets/img/edit_square.png" class="edit-img">
         </div>
         
    </div>
    
    <app-workspace-channels></app-workspace-channels>
    <app-workspace-direct-messages></app-workspace-direct-messages>
    

</div>
