@import "mixins", "styles";

:host {
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    height: 100%; 
}

.main-chat-container{
    background-color: white;
    flex: 1;
    border-radius: 30px;
    @include display-flex($fd: column, $jc: flex-start);
    margin-left: 16px;
    margin-right: 16px;
  
}