<section class="login">
  <div class="intro">
    <div class="intro-content">
      <div class="logo-container">
        <img
          class="logo"
          src="../../assets/img/da_bubble_logo.png"
          alt="da_bubble_logo"
        />
      </div>
      <span class="intro-span">DABubble</span>
    </div>
  </div>

  <main class="content">
    <header class="login-header">
      <section class="header-left">
        <img
          class="logo"
          src="../../assets/img/da_bubble_logo.png"
          alt="da_bubble_logo"
        />
        <span>DABubble</span>
      </section>
      <section class="header-right">
        <span>Neu bei DABubble ?</span>
        <a class="primary-href" href="">Konto erstellen</a>
      </section>
    </header>

    <form class="login-form" action="">
      <header class="form-header">
        <h3>Anmeldung</h3>
        <span
          >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
          Arbeit verwendest.</span
        >
      </header>

      <main class="login-inputs">
        <div class="login-input-container">
          <input
            class="login-input"
            type="text"
            placeholder="beispielname@email.com"
            [(ngModel)]="email"
          />
          <img
            class="input-icon"
            src="./../../assets/img/mail_icon.png"
            alt="mail_icon"
          />
        </div>

        <div class="login-input-container">
          <input class="login-input" type="text" placeholder="Passwort" [(ngModel)]="password" />
          <img
            class="input-icon"
            src="./../../assets/img/password_icon.png"
            alt="password_icon"
          />
        </div>

        <a class="secondary-href" href="">Passwort vergessen ?</a>
      </main>

      <div class="divider">
        <span class="divider-line"></span>
        <span class="divider-text">ODER</span>
        <span class="divider-line"></span>
      </div>

      <section class="login-buttons">
        <button class="login-input google-login">
          <img src="../../assets/img/google_icon.png" alt="google_icon" />
          Anmeldung mit Google
        </button>

        <div class="user-login">
          <button class="primary-button">Anmelden</button>
          <button class="secondary-button" (click)="navigateToMainPage()">Gäste-Login</button>
        </div>
      </section>
    </form>

    <footer class="login-footer">
      <a class="primary-href" href="">Impressum</a>
      <a class="primary-href" href="">Datenschutz</a>
    </footer>
  </main>
</section>
