<!-- <section class="intro-animation-container">
  <div class="intro-animation-logo-container">
    <img
      class="intro-animation-logo"
      src="./../../assets/img/da_bubble_logo.png"
      alt="da_bubble_logo"
    />
  </div>
  <span class="intro-animation-span">DABubble</span>
</section> -->


<section class="login">

  <h3>Anmeldung</h3>

  <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die
    du bei der Arbeit verwendest.
  </span>

  <input class="login-input" type="text">
  <input class="login-input" type="text">

</section>