<form class="auth-form" id="registration-form">
  <app-auth-header
    title="Avatar wählen"
    [showIconContainer]="true"
  ></app-auth-header>

  <main class="auth-inputs">
    <div class=" selected-avatar-container">
      <img
        [src]="selectedAvatar"
        alt="selected_avatar"
        class="selected-avatar"
      />
    </div>

    <span class="user-name"> {{ getUserName() }} </span>

    <section class="avatar-selection">
      <span>Aus der Liste wählen</span>
      <div class="avatar-options">
        <img
          *ngFor="let avatar of avatars"
          [src]="avatar.thumb"
          [alt]="avatar.name"
          class="avatar-option"
          (click)="selectAvatar(avatar.image)"
        />
      </div>
    </section>
  </main>

  <section class="auth-buttons align-items-flex-end">
    <div class="auth-button-container">
      <button
        [disabled]="isAvatarEmpty || isRegistering"
        [ngClass]="{ disabled: isAvatarEmpty }"
        class="primary-button"
        (click)="registerUser()"
      >
        Weiter
      </button>
    </div>
  </section>
</form>
<app-toast></app-toast>
