@import "mixins";

$primary-color-white: #ffffff;
$primary-color-purple: #444df2;
$secondary-color-purple: #797ef3;
$highlight-color-purple: #535af1;
$highlight-color-cyan: #1381ff;
$online-color-green: #92c83e;
$error-color-red: #ed1e79;
$border-color-purple: #adb0d9;
$text-color-black: #000000;
$text-color-gray: #686868;
$bg-color-gray: #eceefe;
$bg-color-blue: #313ae5;
$primary-box-shadow: 0px 6px 10px 0px #00000033;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-64: 64px;
$font-size-72: 72px;
$font-size-128: 128px;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$desktop-full-hd: 1920px;
$desktop-large: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;

* {
  margin: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Nunito";
  list-style-type: none;
}

@font-face {
  font-family: "Nunito";
  src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


.width-100 {
  width: 100%;
}

.pad-16 {
  padding: 16px;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.align-self-flex-end {
  align-self: flex-end;
}

::-webkit-scrollbar {
  @include size(8px, 8px);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.selected-avatar-container {
  @include display-flex();
}

.selected-avatar {
  @include size(168px, 168px);
  border-radius: 50%;
}

.avatar-selection {
  @include display-flex($fd: column, $ai: center, $gap: 16px);
  padding-bottom: 30px;
  transition: opacity 225ms ease-in-out;
  > span {
    @include font-style($font-size-20, $font-weight-400, $text-color-black);
    text-align: center;
  }
  > .avatar-options {
    @include display-flex($gap: 16px);
    transition: opacity 225ms ease-in-out;
    > .avatar-option {
      @include size(64px, 64px);
      border: 4px solid transparent;
      box-sizing: border-box;
      &:hover {
        border-radius: 50%;
        border-color: $bg-color-gray;
        cursor: pointer;
      }
    }
  }
}

.primary-button {
  @include button-style($primary-color-purple);
  @include font-style(18px, 700, $primary-color-white);
  &:hover:not(:disabled) {
    background-color: $secondary-color-purple;
  }
  &:active:not(:disabled) {
    border-radius: 50px;
    color: $primary-color-white;
    background-color: $primary-color-purple;
  }
}

.secondary-button {
  @include button-style(
    $primary-color-white,
    $bor: 1px solid $secondary-color-purple
  );
  @include font-style(18px, 700, $primary-color-purple);
  &:hover:not(:disabled) {
    background-color: $highlight-color-purple;
    color: $primary-color-white;
  }
  &:active:not(:disabled) {
    border-radius: 50px;
    color: $primary-color-white;
    background-color: $primary-color-purple;
  }
}

.primary-input {
  @include input-style();
}

.secondary-input {
  @include input-style(15px 20px);
}

.auth-form,
.auth-verification {
  @include display-flex($fd: column, $gap: 24px);
  max-width: 620px;
  padding: 32px 64px;
  border-radius: 30px;
  box-shadow: $primary-box-shadow;
  background: $primary-color-white;
}

.auth-email {
  @include font-style($font-size-18, $font-weight-700, $primary-color-purple);
}

.form-header {
  @include display-flex($fd: column, $gap: 16px);
  @include size(100%);
  text-align: center;
  > .header-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    align-self: center;
    @include size(100%);
    > .icon-container {
      justify-self: start;
      background: $bg-color-gray;
    }
    > h3 {
      justify-self: center;
      grid-column: span 1;
      @include font-style(
        $font-size-46,
        $font-weight-700,
        $primary-color-purple
      );
    }
    &:not(:has(.icon-container)) {
      grid-template-columns: 1fr;
    }
  }
  > span {
    @include font-style($font-size-20, $font-weight-400, $text-color-black);
    text-align: center;
  }
}

.auth-inputs {
  @include display-flex($fd: column, $gap: 16px);
  @include size(100%);
}

.auth-input,
.search-bar-input {
  @include position(relative);
  @include size($height: 60px);
}

.auth-input {
  @include input-style(15px 20px 15px 80px, $bg-color-gray);
}

.search-bar-input {
  @include input-style(17.5px 45px, $primary-color-white);
}

.auth-input-icon-container,
.search-bar-input-icon-container {
  @include display-flex();
  @include size(32px, 32px);
  border-radius: 30px;
  transition: 225ms ease-in-out;
  &:hover {
    background: $border-color-purple;
    cursor: pointer;
  }
}

.auth-input-icon-container {
  @include position(absolute, 14px, 24px);
}

.search-bar-input-icon-container {
  @include position(absolute, 14px, $rig: 48px);
}

.auth-input-icon {
  @include position(absolute, 18px, 24px);
  @include size(24px, 24px);
}

.auth-input-icon-hover,
.search-bar-input-icon-hover {
  @include size(24px, 24px);
}

.auth-input-container,
.search-bar-input-container {
  @include display-flex($ai: flex-start, $fd: column, $gap: 4px);
  @include position(relative);
  @include size(100%);
  transition: opacity 225ms ease-in-out;

  > .invalid-input {
    @include font-style($font-size-14, $font-weight-400, $error-color-red);
    opacity: 0;
    transition: 225ms ease-in-out;
  }

  > .invalid-input.is-invalid {
    opacity: 1;
  }
}

.auth-button-container {
  @include display-flex($gap: 32px);
}

.auth-buttons {
  @include display-flex($fd: column, $gap: 30px);
  width: 100%;
}

.icon-container {
  @include display-flex($gap: 10px);
  @include size(40px, 40px, 8px);
  border-radius: 20px;
  cursor: pointer;
  transition: 125ms ease-in-out;
  > img {
    @include size(24px, 24px);
  }
  &:hover {
    background-color: $bg-color-gray;
    > img {
      filter: brightness(0) saturate(100%) invert(30%) sepia(39%)
        saturate(4108%) hue-rotate(229deg) brightness(98%) contrast(93%);
    }
  }
}

.primary-href {
  @include href-style();
}

.secondary-href {
  @include href-style($bor: transparent, $bg: $bg-color-gray);
}

.max-width-desktop {
  @include display-flex();
  width: 100%;
  max-width: $desktop-full-hd;
}

.legal-content {
  @include display-flex($fd: column, $jc: inherit, $gap: 24px);
  max-width: 620px;
  padding: 32px 64px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: $primary-box-shadow;
  background: $primary-color-white;
  max-height: 700px;
  overflow-y: auto;
  clip-path: inset(0 round 30px);
  > p {
    @include font-style($font-size-18, $font-weight-500, $text-color-black);
  }
  > .responsibles {
    text-align: center;
    font-weight: $font-weight-700;
  }
  > h3 {
    @include font-style($font-size-24, $font-weight-600, $primary-color-purple);
    text-align: center;
  }
  > h4 {
    @include font-style($font-size-20, $font-weight-500, $primary-color-purple);
    text-align: center;
  }
  > ul {
    @include display-flex($fd: column, $ai: flex-start, $gap: 6px);
  }
}

li {
  @include font-style($font-size-18, $font-weight-600, $text-color-black);
  &::before {
    content: "•";
    @include size(16px);
    color: $primary-color-purple;
    font-weight: $font_weight_700;
    display: inline-block;
    margin-left: -1em;
  }
  > a {
    @include font-style($font-size-18, $font-weight-600, $text-color-black);
    text-decoration: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes logo-slide-left {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes logo-slide-top-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(calc(-50vh + 67px)) translateX(calc(-50vw + 150px));
    gap: 16px;
  }
}

@keyframes hide-background {
  from {
    height: 0%;
    background: none;
  }
  to {
    height: 0%;
    background: none;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes adjust-span-size {
  from {
    font-size: $font-size-72;
    color: $primary-color-white;
  }
  to {
    font-size: $font-size-32;
    color: $text-color-black;
  }
}

@keyframes adjust-logo-size {
  from {
    height: 200px;
  }
  to {
    height: 75px;
  }
}
