<div class="channel-chat-header">
    <div class="channel-title-div">
        <img src="./../../../../assets/img/tag_large.png">
        <span class="channel-title">{{activeChannelData?.name}}</span>
        <img src="./../../../../assets/img/keyboard_arrow_down.png" alt="">
    </div>

    <div class="channel-members-div">
        <div class="avatar-container">
            <img src="./../../../../assets/img/Avatar 1.png" alt="">
        </div>
        <span class="member-number-span">1</span>
        <div class="icon-container">
            <img src="./../../../../assets/img/person_add.png" alt="">
        </div>

    </div>
</div>